<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>registro</title>
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <!-- Styles -->
    <link rel="stylesheet" href="../styles/styles.css">
  </head>
  <body>
    <header class="header">
      <img tabindex="0" class="header__img" src="../resorce/logo-platzi-video-BW2.png" alt="Platzi Video">
    </header>
    <section class="register">
      <section class="register__container">
        <h2 tabindex="0">Regístrate</h2>
        <form class="register__container--form" action="index.html" method="post">
          <input aria-label="Nombre" class="input" type="text" name="" value="" placeholder="Nombre">
          <input aria-label="Correo" class="input" type="email" name="" value="" placeholder="Correo">
          <input aria-label="Contraseña" class="input" type="password" name="" value="" placeholder="Contraseña">
          <button class="button">Registrarse</button>
        </form>
        <div class="register__container--loggin">
          <a href="">Iniciar sesión</a>
        </div>
      </section>
  </section>
  </body>
</html>
